<mat-toolbar>
    <img src="/assets/images/public-seal.png" alt="public-seal">
    <span class="title">
        <span class="black">Citizen</span>
        <span class="red">Connect</span>
        <span class="green">360</span>
    </span>
    <span class="example-spacer"></span>
    <div class="buttons">
        <a mat-stroked-button class="stroked-button" routerLink="/login">Login</a>
        <a mat-flat-button href="" class="flat-button" routerLink="/register">Register</a>
    </div>
</mat-toolbar>

<div class="hero">
    <div class="image">

        <img src="/assets/images/intro.jpeg" alt="hero-img">
    </div>
    <div class="container">
        <h3>
            Kenya listens when you speak. <br>
            Every Kenyan’s voice shapes <br>
            tomorrow, beacuse every voice <br>
            matters.
        </h3>
        <div class="buttons">
            <a mat-stroked-button class="stroked-button" href="" >Services</a>
            <a mat-flat-button class="flat-button" >FAQ</a>

        </div>
    </div>
</div>

<div class="body">
    <div class="cards">
            <mat-card>
                <mat-card-header class="d-flex justify-content-center align-items-center">
                  <mat-card-title> 
                    <mat-icon>bar_chart</mat-icon>
                  </mat-card-title>
                </mat-card-header>

                  <mat-card-content>
                    Your voice, your country: Drive Change Through Community Polls
                  </mat-card-content>
              </mat-card>
            <mat-card>
                <mat-card-header class="d-flex justify-content-center align-items-center">
                  <mat-card-title>
                    <mat-icon>library_books</mat-icon>
                  </mat-card-title>
                </mat-card-header>
                  <mat-card-content>
                    Transparency Redefined: Review, Understand, and Respond
                  </mat-card-content>
                
              </mat-card>
            <mat-card>
                <mat-card-header class="d-flex justify-content-center align-items-center">
                    <mat-card-title>
                        <mat-icon>notifications_none</mat-icon>
                      </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    From Problem to Resolution: Streamlined Incident Reporting
                </mat-card-content>
              </mat-card>
    </div>
</div>

<div class="footer">
    <p>
        © 2025 CitizenConnect360 All rights reserved
    </p>
</div>

<!-- <router-outlet></router-outlet> -->