<div class="container">
    <div class="greetings">
        <h2>Welcome back</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-card>
                <mat-card-header class="d-flex justify-content-center align-items-center">
                    <mat-card-title> 
                      <mat-icon>bar_chart</mat-icon> <br>
                    </mat-card-title>
                  </mat-card-header>
                <mat-card-content class="d-flex justify-content-center">
                    {{totalPolls}} Total Polls
                </mat-card-content>
            </mat-card>
        </div>
    
        <div class="col-md-4">
            <mat-card>
                <mat-card-header class="d-flex justify-content-center align-items-center">
                    <mat-card-title> 
                      <mat-icon>notifications_none</mat-icon> <br>
                    </mat-card-title>
                  </mat-card-header>
                <mat-card-content class="d-flex justify-content-center">
                    {{totalIncidents}} Reported incidents
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card>
                <mat-card-header class="d-flex justify-content-center align-items-center">
                    <mat-card-title> 
                      <mat-icon>feedback</mat-icon> <br>
                    </mat-card-title>
                  </mat-card-header>
                <mat-card-content class="d-flex justify-content-center">
                    5 Open discussions
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
    
</div>
