<div class="container" *ngFor="let document of documents">
    <mat-card>
        <mat-card-header>{{document.title}}</mat-card-header>
        <mat-card-content>{{document.description}}</mat-card-content>
        <mat-card-actions>
            <div class="buttons">
                <a mat-stroked-button class="stroked-button" [href]="document.fileUrl" target="_blank">Read</a>
                <a mat-flat-button class="flat-button" >Explainer</a>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
  