<div class="container">
    <div *ngIf="activeView === 'manage'">
        <h2>Manage Discussions</h2>
        <div *ngIf="isLoading">🔄 Loading summary...</div>

        <div *ngIf="errorMessage" class="error">
            ❌ {{ errorMessage }}
        </div>

        <div *ngIf="summarizedOpinion && !isLoading">
            <h3>📌 Summarized Opinion:</h3>
            <p>{{ summarizedOpinion }}</p>
        </div>
        <div *ngIf="discussions.length > 0">
            <div class="discussions" *ngFor="let discussion of discussions">

                <mat-card>
                    <mat-card-content>
                        {{discussion.question}}
                    </mat-card-content>
                    <mat-card-footer>
                        <button class="btn" type="button" (click)="deleteTopic(discussion)">Close</button>
                        <button class="btn" type="button" (click)="fetchSummarizedOpinion(discussion)">Feedback</button>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
        <div *ngIf="discussions.length === 0" class="text-center mt-4">
            <p>No Topics available</p>
        </div>
    </div>


    <div class="d-flex justify-content-center align-items-center" *ngIf="activeView === 'add'">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    Add New Topic
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="saveTopic()">
                    <mat-form-field class="w-100 mb-3">
                        <mat-label>Discussion topic</mat-label>
                        <textarea rows="5" matInput formControlName="question"
                            placeholder="Enter poll question"></textarea>
                        <mat-error *ngIf="form.controls['question'].invalid">Topic is required</mat-error>
                    </mat-form-field>

                    <div class="d-flex justify-content-end">
                        <button class="cancel" [routerLink]="['/admin/discussions']"
                            [queryParams]="{view: 'manage'}">Cancel</button>
                        <button class="save" type="submit" [disabled]="form.invalid">Save Topic</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>