 
  .carousel {
    width: 40%;  /* Make the carousel take 50% width of the card */
    margin: auto; /* Center it */
  }
  
  .slide img {
    width: 100%; /* Ensure images take full width of the carousel */
    border-radius: 10px;
  }
  
  ::ng-deep .slick-prev,
  ::ng-deep .slick-next {
    font-size: 24px;
    color: green;
    background: white;
    border-radius: 30px;
    width: 70px;
    height: 40px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    // z-index: 1000;
    cursor: pointer;
  }
  
  ::ng-deep .slick-prev {
    left: -50px;
  }
  
  ::ng-deep .slick-next {
    right: -50px;
  }
  .incidents{
    padding: 10px;
  }
  