<div class="container">
  <button mat-flat-button class="flat-button" (click)="openReportDialog()">Report Incident</button>
  
  <div class="incidents" *ngFor="let incident of incidents">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title> {{incident.title}} </mat-panel-title>
          <mat-panel-description>
            Click to {{panelOpenState() ? 'close' : 'view'}} incident
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ngx-slick-carousel class="carousel" 
                              #slickModal="slick-carousel" 
                              [config]="slideConfig"
                              (init)="slickInit($event)"
                              (breakpoint)="breakpoint($event)"
                              (afterChange)="afterChange($event)"
                              (beforeChange)="beforeChange($event)">
              
              <div ngxSlickItem class="slide" *ngFor="let img of incident.imageUrls">
                  <img [src]="img" alt="incident image" height="200px">
              </div>

          </ngx-slick-carousel>
          <p>{{ incident.description }}</p>
          <p>Incident reported {{ incident.timeAgo }}</p>
          <button mat-icon-button color="warn" (click)="deleteIncident(incident)">
            <mat-icon>delete</mat-icon>
          </button>
      </mat-expansion-panel>
  </mat-accordion>

  </div>
</div>
