<h2 mat-dialog-title class="p-3">
    <span class="black">Repor</span>
    <span class="red">t an In</span>
    <span class="green">cident</span>
  </h2>
  
  <div mat-dialog-content class="p-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Title</mat-label>
            <input 
              matInput 
              type="text" 
              formControlName="title" 
              placeholder="Enter incident title"
            >
            <mat-error *ngIf="title?.errors?.['required']">Title is required</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Description</mat-label>
          <textarea 
            matInput 
            type="text" 
            formControlName="description" 
            placeholder="Brief description"
          ></textarea>
          <mat-error *ngIf="description?.errors?.['required']">Description is required</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Location</mat-label>
          <input 
            matInput 
            type="text" 
            formControlName="location" 
            placeholder="Location"
          >
          <mat-error *ngIf="description?.errors?.['required']">Location is required</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Images</mat-label>
          <input matInput [value]="selectedFileNames.join(', ')" readonly>
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="fileInput.click()" class="w-50 mb-3">
          Upload Images
        </button>
        
        <input 
          #fileInput 
          type="file" 
          (change)="onFileSelected($event)" 
          multiple 
          hidden
        >
        
        
        <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
        
          <button 
            mat-raised-button 
            color="primary" 
            type="submit" 
            [disabled]="form.invalid || isLoading" 
            class="w-50 mb-3"
          >
            <mat-spinner *ngIf="isLoading" [diameter]="20" class="spinner"></mat-spinner>
            <span>Report</span>
          </button>
      </form>
  </div>
  
  <div mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Cancel</button>
  </div>
  