.actions{
    color: orange;
}
.actions mat-icon{
    color: red;
}
.status{
    border: 1px solid orange;
    border-radius: 30px;
    padding: 3px;
}
button{
    width: 140px;
    margin: 0 10px;
    border: 1px solid green;
    background-color: white;
    border-radius: 16px;
    padding: 5px;
}
.cancel{
    background-color: green;
    color: white;
}
form{
    padding: 20px;
}